/func/*
/memorygame/*
/perf/*
/ucore/*
/tlb_test/*

!/func/obj
!/memorygame/obj
!/perf/obj
!/tlb_test/obj

/func/obj/*
/memorygame/obj/*
/tlb_test/obj/*
/perf/obj/**/*.bin
/perf/obj/**/*.elf
/perf/obj/**/*.s

!/func/obj/inst_ram.coe
!/func/obj/axi_ram.mif
!/memorygame/obj/axi_ram.coe
!/memorygame/obj/axi_ram.mif
!/tlb_test/obj/inst_ram.coe
!/tlb_test/obj/axi_ram.mif
!/perf/obj/**/*.mif
!/perf/obj/**/*.coe
