/axi_interconnect_0/*
/clk_pll_33/*
/clk_wiz_0/*
/dpram_512x32/*
/mig_axi_32/*
/sram_32x52bit/*
/sram_128x22/*
/sram_128x32/*
/sram_128x64/*

!.gitignore
!/axi_interconnect_0/*.xci
!/clk_pll_33/*.xci
!/clk_wiz_0/*.xci
!/dpram_512x32/*.xci
!/mig_axi_32/*.xci
!/sram_32x52bit/*.xci
!/sram_128x22/*.xci
!/sram_128x32/*.xci
!/sram_128x64/*.xci
